* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #1C1C1C;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 82.73vw;
  margin: 0 auto;
  padding: 0 0.76vw;
}

header .burger {
  display: none;
}
@media (max-width: 576px) {
  header .burger {
    display: block;
    position: relative;
    top: 29px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 40;
  }
}
@media (max-width: 400px) {
  header .burger {
    left: 20px;
  }
}
header .burger:before {
  content: "";
  background-color: #1C1C1C;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .burger:after {
  content: "";
  background-color: #1C1C1C;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .burger span {
  background-color: #1C1C1C;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
header .burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
header .burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
header .menu {
  padding: 2.17vw 0 1.87vw;
}
header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .menu__list-item {
  margin-bottom: 20px;
}
header .menu__list-item a {
  padding-bottom: 2.02vw;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.71vw;
  line-height: 140%;
  letter-spacing: 0.05em;
  border-bottom: 0px solid #F38120;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
header .menu__list-item a:hover {
  border-bottom: 1px solid #F38120;
  color: #F38120;
}
@media (max-width: 992px) {
  header .menu__list-item a {
    font-size: 11px;
  }
}
@media (max-width: 796px) {
  header .menu__list-item a {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  header .menu__list-item a {
    font-size: 10px;
    line-height: 140%;
  }
}
@media (max-width: 576px) {
  header .menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    width: 80%;
    height: 100%;
    padding: 60px 0 0 0;
    background-color: #EDF2F5;
    overflow: auto;
    opacity: 0.95;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 400px) {
  header .menu {
    width: 100%;
    height: 100%;
  }
}
header .menu.active {
  right: 0;
}
@media (max-width: 576px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 400px) {
  header .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
header .divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #1C1C1C;
  opacity: 0.07;
}
@media (max-width: 576px) {
  header .divider {
    display: none;
  }
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  header .wrapper {
    width: 90%;
    margin-top: 10px;
  }
}
header .wrapper .header__descr {
  width: 10.35vw;
}
@media (max-width: 576px) {
  header .wrapper .header__descr {
    display: none;
  }
}
header .wrapper .header__descr-top {
  font-size: 0.61vw;
  line-height: 1.01vw;
  text-align: center;
  margin-bottom: 1.01vw;
}
@media (max-width: 992px) {
  header .wrapper .header__descr-top {
    font-size: 10px;
  }
}
header .wrapper .header__descr-top span {
  font-weight: 600;
}
header .wrapper .header__descr-bottom {
  font-size: 0.61vw;
  line-height: 1.01vw;
  text-align: center;
}
@media (max-width: 992px) {
  header .wrapper .header__descr-bottom {
    font-size: 10px;
  }
}
header .wrapper .header__logo-link {
  width: 15.66vw;
  height: 7.53vw;
}
header .wrapper .header__logo-link img {
  width: 100%;
}
@media (max-width: 400px) {
  header .wrapper .header__logo-link {
    width: 75px;
    height: 52px;
    margin-left: -10px;
  }
  header .wrapper .header__logo-link img {
    width: 100%;
  }
}
header .wrapper .header__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  header .wrapper .header__download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  header .wrapper .header__download {
    display: none;
  }
}
header .wrapper .header__download a {
  padding-top: 0.71vw;
  display: block;
  width: 2.17vw;
  height: 2.17vw;
  border-radius: 50%;
  color: #12C868;
  font-weight: 600;
  font-size: 0.56vw;
  line-height: 0.66vw;
  text-align: center;
  letter-spacing: 0.04em;
  margin-right: 0.35vw;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
}
@media (max-width: 992px) {
  header .wrapper .header__download a {
    font-size: 10px;
  }
}
header .wrapper .header__download span {
  font-weight: 600;
  font-size: 0.61vw;
  line-height: 0.76vw;
  text-align: center;
  letter-spacing: 0.04em;
  border-bottom: 2px dotted #12C868;
}
@media (max-width: 992px) {
  header .wrapper .header__download span {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  header .wrapper .header__social {
    display: none;
  }
}
header .wrapper .header__social-descr {
  margin-bottom: 0.81vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.61vw;
  line-height: 0.76vw;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (max-width: 992px) {
  header .wrapper .header__social-descr {
    font-size: 10px;
  }
}
header .wrapper .header__social-descr .disk {
  margin-right: 0.2vw;
  background-color: #12C868;
  width: 0.2vw;
  height: 0.2vw;
  border-radius: 100%;
}
header .wrapper .header__social-descr span {
  margin-left: 0.2vw;
  font-weight: 700;
}
header .wrapper .header__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper .header__social-links a {
  width: 2.02vw;
  height: 2.02vw;
}
header .wrapper .header__social-links a img {
  width: 100%;
}
header .wrapper .header__social-link {
  margin: 0 0.35vw;
  position: relative;
  -webkit-perspective: 50em;
          perspective: 50em;
}
header .wrapper .header__social-link:after {
  margin: 0 -0.35vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #ffffff;
  content: "";
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
header .wrapper .header__social-link:before {
  color: #ffffff;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
header .wrapper .header__social-link:hover, header .wrapper .header__social-link:active, header .wrapper .header__social-link.hover {
  color: #F38120;
}
header .wrapper .header__social-link:hover:after, header .wrapper .header__social-link:active:after, header .wrapper .header__social-link.hover:after {
  border-color: transparent #F38120;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
@media (max-width: 400px) {
  header .wrapper .header__contact {
    font-size: 7px;
    line-height: 9px;
  }
}
header .wrapper .header__contact-shedule {
  margin-bottom: 0.3vw;
  font-size: 0.61vw;
  line-height: 0.76vw;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (max-width: 992px) {
  header .wrapper .header__contact-shedule {
    font-size: 8px;
  }
}
@media (max-width: 796px) {
  header .wrapper .header__contact-shedule {
    letter-spacing: 0;
  }
}
header .wrapper .header__contact-shedule span {
  font-weight: 700;
}
header .wrapper .header__contact-tel {
  display: block;
  font-weight: 600;
  font-size: 1.11vw;
  text-align: center;
  letter-spacing: 0.05em;
}
@media (max-width: 992px) {
  header .wrapper .header__contact-tel {
    font-size: 10px;
  }
}
header .wrapper .header__contact-popup {
  text-align: center;
  cursor: pointer;
}
header .wrapper .header__contact-popup span {
  font-size: 0.61vw;
  font-weight: 600;
  border-bottom: 2px dotted #12C868;
  color: #12C868;
}
@media (max-width: 992px) {
  header .wrapper .header__contact-popup span {
    font-size: 10px;
  }
}

main {
  margin-top: -19.03vw;
  background: url("../img/main-bg.jpg") no-repeat top/100%;
  min-height: 100vh;
  padding: 14.55vw 0 0 0;
}
@media (max-width: 576px) {
  main {
    background-attachment: local;
    background-position: top;
    background-size: cover;
    position: relative;
  }
}
main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
main aside {
  margin-right: 3.59vw;
  margin-top: 50px;
  padding: 2.07vw 1.62vw 0;
  width: 12.63vw;
  background-color: #ffffff;
  position: relative;
  border-radius: 0 1.01vw 1.01vw 1.01vw;
  -webkit-box-shadow: 0px 0px 3.79vw rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 3.79vw rgba(0, 0, 0, 0.03);
}
@media (max-width: 576px) {
  main aside {
    position: fixed;
    left: 20%;
    bottom: -25%;
    overflow: hidden;
    width: 60%;
    padding: 23px;
  }
}
main aside .sidebar__item {
  margin-bottom: 2.42vw;
  font-weight: 300;
  font-size: 0.71vw;
  line-height: 1.11vw;
  text-align: center;
}
@media (max-width: 992px) {
  main aside .sidebar__item {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  main aside .sidebar__item {
    font-size: 10px;
    line-height: 15px;
  }
}
main aside .sidebar__item span {
  font-weight: 700;
}
main aside:before {
  content: "";
  position: absolute;
  border: 1.01vw solid transparent;
  border-bottom: 0px solid #ffffff;
  border-left: 14.63vw solid #ffffff;
  width: 15.63vw;
  top: -1.01vw;
  left: 0;
  border-radius: 1.01vw 1.01vw 0 0;
}
main .promo__title {
  margin-bottom: 0.96vw;
  width: 36.79vw;
  padding-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 2.78vw;
  line-height: 4.29vw;
}
@media (max-width: 576px) {
  main .promo__title {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  main .promo__title {
    font-size: 18px;
    line-height: 30px;
  }
}
main .promo__text {
  margin-bottom: 2.27vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 1.62vw;
  line-height: 1.97vw;
}
@media (max-width: 576px) {
  main .promo__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 5px auto 18px;
    font-size: 12px;
  }
}
main .promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 576px) {
  main .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
main .promo__btns {
  margin-bottom: 1.97vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  main .promo__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
    margin: auto;
  }
}
main .promo__btns-left, main .promo__btns-right {
  padding: 1.41vw 2.68vw;
  border-radius: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 576px) {
  main .promo__btns-left, main .promo__btns-right {
    margin-bottom: 12px;
    width: 100%;
  }
}
main .promo__btns-left span, main .promo__btns-right span {
  margin-right: 1.57vw;
  font-size: 0.71vw;
  line-height: 1.11vw;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
@media (max-width: 992px) {
  main .promo__btns-left span, main .promo__btns-right span {
    font-size: 10px;
    line-height: 2.11vw;
  }
}
@media (max-width: 576px) {
  main .promo__btns-left span, main .promo__btns-right span {
    padding: 10px 10px 10px 15px;
  }
}
@media (max-width: 400px) {
  main .promo__btns-left span, main .promo__btns-right span {
    line-height: 12px;
  }
}
main .promo__btns-left .arrow, main .promo__btns-right .arrow {
  height: 1.01vw;
  width: 1.01vw;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 576px) {
  main .promo__btns-left .arrow, main .promo__btns-right .arrow {
    height: 20px;
    width: 20px;
  }
}
main .promo__btns-left .arrow img, main .promo__btns-right .arrow img {
  width: 100%;
}
main .promo__btns-left:hover span, main .promo__btns-right:hover span {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
main .promo__btns-left:hover .arrow, main .promo__btns-right:hover .arrow {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
main .promo__btns-left {
  margin-right: 0.91vw;
  background-color: #12C868;
  -webkit-box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
main .promo__btns-left:hover {
  background: #21E27C;
}
main .promo__btns-right {
  background-color: #F38120;
  text-align: left;
  -webkit-box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
main .promo__btns-right:hover {
  background: #FD9C49;
}
main .promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  main .promo__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
main .promo__info-icon {
  margin-right: 0.81vw;
}
@media (max-width: 576px) {
  main .promo__info-icon {
    width: 20px;
    height: 18px;
  }
}
main .promo__info-icon img {
  width: 100%;
}
main .promo__info-descr {
  width: 13.25vw;
  text-align: center;
  font-size: 0.71vw;
  line-height: 1.11vw;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (max-width: 992px) {
  main .promo__info-descr {
    font-size: 10px;
  }
}
@media (max-width: 796px) {
  main .promo__info-descr {
    width: 18.25vw;
  }
}
@media (max-width: 576px) {
  main .promo__info-descr {
    width: 200px;
    line-height: 15px;
    margin-bottom: 12px;
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin: 0 auto 12px;
  }
}
main .promo__info-descr span {
  font-weight: 600;
}
main .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10px;
  margin: 0.45vw 0.81vw 0 0;
}
@media (max-width: 576px) {
  main .circles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main .circles .circle {
  margin-right: 7px;
  height: 0.45vw;
  width: 0.45vw;
  border: 1.5px solid #12C868;
  border-radius: 500px;
}
main .circles .circle .second {
  border: 1.5px solid rgba(18, 200, 104, 0.75);
}
main .circles .circle .third {
  border: 1.5px solid rgba(18, 200, 104, 0.5);
}
main .circles .circle .fourth {
  border: 1.5px solid rgba(18, 200, 104, 0.25);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__content {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 27.78vw;
  background-color: #ffffff;
  padding: 3.54vw 4.9vw;
  border-radius: 1.77vw;
}
.popup__close {
  position: absolute;
  top: 1.26vw;
  right: 1.77vw;
  font-size: 2.6rem;
  color: #1C1C1C;
  border: none;
  background: transparent;
  opacity: 0.5;
}
.popup__form-title {
  margin-bottom: 0.71vw;
  font-weight: 500;
  font-size: 1.52vw;
  line-height: 1.52vw;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.popup__form-descr {
  font-weight: 400;
  font-size: 0.81vw;
  line-height: 1.21vw;
  text-align: center;
  color: #000000;
}
@media (max-width: 992px) {
  .popup__form-descr {
    font-size: 10px;
  }
}
.popup__form-descr span {
  margin: 1.21vw 0 1.41vw 0;
  display: block;
  font-weight: 400;
  font-size: 0.61vw;
  line-height: 0.76vw;
  text-align: center;
  color: #000000;
}
@media (max-width: 992px) {
  .popup__form-descr span {
    font-size: 9px;
  }
}
.popup__form label {
  display: block;
  padding: 0 0 0.61vw 2.32vw;
  font-weight: 400;
  font-size: 0.61vw;
  line-height: 0.76vw;
  color: #000000;
  opacity: 0.75;
}
@media (max-width: 992px) {
  .popup__form label {
    font-size: 9px;
  }
}
.popup__form label span {
  color: #F38120;
}
.popup__form-tel {
  margin-bottom: 1.21vw;
  padding: 1.21vw 2.32vw;
  display: block;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2.53vw rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 2.53vw rgba(0, 0, 0, 0.05);
  border-radius: 500px;
  font-weight: 400;
  font-size: 0.91vw;
  line-height: 1.01vw;
  color: #A7A7A7;
}
@media (max-width: 992px) {
  .popup__form-tel {
    font-size: 10px;
  }
}
.popup__form-btn {
  margin-bottom: 0.91vw;
  padding: 1.62vw 2.19vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: none;
  background: #F38120;
  -webkit-box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
  border-radius: 500px;
  text-align: center;
}
.popup__form-btn span {
  color: #ffffff;
  font-size: 0.91vw;
  padding-right: 1.01vw;
}
@media (max-width: 992px) {
  .popup__form-btn span {
    font-size: 10px;
  }
}
.popup__form-btn img {
  width: 2.02vw;
  height: 2.02vw;
}
.popup__form-notice {
  display: none;
  text-align: center;
  color: #1ab61a;
  font-size: 1.31vw;
  font-weight: 700;
  padding-top: 2.53vw;
}
.popup__form .input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__form .input__block label {
  padding: 0 0 0 1.21vw;
}