main {
    margin-top: -19.03vw;
    background: url('../img/main-bg.jpg') no-repeat top/100% ;
    min-height: 100vh;
    padding: 14.55vw 0 0 0;
    @media (max-width: 576px) {
        background-attachment: local;
        background-position: top;
        background-size: cover;
        position: relative;
    }
    .container {
        display: flex;
        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }
    }
    aside {
        position: relative;
        margin-right: 3.59vw;
        margin-top: 50px;
        padding: 2.07vw 1.62vw 0;
        width: 12.63vw;
        background-color: #ffffff;
        position: relative;
        border-radius: 0 1.01vw 1.01vw 1.01vw;
        box-shadow: 0px 0px 3.79vw rgba(0, 0, 0, 0.03);
        @media (max-width: 576px) {
            position: fixed;
            left: 20%;
            bottom: -25%;
            overflow: hidden;
            width: 60%;
            padding: 23px;
            transition: all 0.3s ease 0s;
            &.active {
                bottom: 0;
            }
        }
        .plus {
            display: none;
            @media (max-width: 576px) {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 4%;
                left: 82%;
                font-size: 29px;
                color: #ffffff;
                background-color: $secondary;
                border-radius: 100%;
                width: 33px;
                height: 33px;
                &:hover {
                    width: 36px;
                    height: 36px;
                }
            }
        }
        .sidebar {
            &__item {
                margin-bottom: 2.42vw;
                font-weight: 300;
                font-size: 0.71vw;
                line-height: 1.11vw;
                text-align: center;
                @media (max-width: 992px) {
                    font-size: 10px;
                }
                @media (max-width: 576px) {
                    font-size: 10px;
                    line-height: 15px;
                }
                span {
                    font-weight: 700;
                }
            }
            .first {
                @media (max-width: 576px) {
                    width: 80%;
                }
            }
        }
    }
    aside:before {
        content: '';
        position: absolute;
        border: 1.01vw solid transparent; 
        border-bottom: 0px solid #ffffff; 
        border-left: 14.63vw solid #ffffff;
        width: 15.63vw;
        top: -1.01vw;
        left: 0;
        border-radius: 1.01vw 1.01vw 0 0 ;
    }
    .promo {
        &__title {
            margin-bottom: 0.96vw;
            width: 36.79vw;
            padding-top: 30px;
            font-style: normal;
            font-weight: 300;
            font-size: 2.78vw;
            line-height: 4.29vw;
            @media (max-width: 576px) {
                text-align: center;
                width: 90%;
                margin: auto;
                font-size: 18px;
            }
            @media (max-width: 400px) {
                font-size: 18px;
                line-height: 30px;
            }
        }
        &__text {
            margin-bottom: 2.27vw;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1.62vw;
            line-height: 1.97vw;
            @media (max-width: 576px) {
                display: flex;
               justify-content: center;
                width: 90%;
                margin: 5px auto 18px;
                font-size: 12px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            @media (max-width: 576px) {
                flex-direction: column-reverse;
            }
        }
        &__btns {
            margin-bottom: 1.97vw;
            display: flex;
            @media (max-width: 576px) {
                flex-direction: column;
                width: 240px;
                margin: auto;
            }
            &-left, &-right {
                padding: 1.41vw 2.68vw;
                border-radius: 500px;
                text-align: center;
                display: flex;
                align-items: center;
                border: none;
                cursor: pointer;
                transition: all 0.6s;
                @media (max-width: 576px) {
                   margin-bottom: 12px;
                   width: 100%;
                }
                span {
                    margin-right: 1.57vw;
                    font-size: 0.71vw;
                    line-height: 1.11vw;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    transition: all 0.45s ease-in-out;
                    @media (max-width: 992px) {
                        font-size: 10px;
                        line-height: 2.11vw;
                    }
                    @media (max-width: 576px) {
                        padding: 10px 10px 10px 15px;
                     }
                     @media (max-width: 400px) {
                        line-height: 12px;
                     }
                }
                .arrow {
                    height: 1.01vw;
                    width: 1.01vw;
                    transition: all 0.6s;
                    @media (max-width: 576px) {
                        height: 20px;
                        width: 20px;
                    }
                    img {
                        width: 100%;
                    }
                }
                &:hover {
                    span {
                        transform: translateX(5px);
                    }
                    .arrow {
                        transform: translateX(-5px);
                    }
                }
            }
            &-left {
                margin-right: 0.91vw;
                background-color: $primary;
                box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
                transition: all 0.45s ease-in-out;
                &:hover {
                    background: #21E27C;
                }
            }
            &-right {
                background-color: $secondary;
                text-align: left;
                box-shadow: inset 0px 0px 1.11vw rgba(255, 255, 255, 0.25);
                transition: all 0.45s ease-in-out;
                &:hover {
                    background: #FD9C49;
                }
            }
        }
        &__info {
            display: flex;
            @media (max-width: 576px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &-icon {
                margin-right: 0.81vw;
                @media (max-width: 576px) {
                    width: 20px;
                    height: 18px;
                }
                img {
                    width: 100%;
                }
            }
            &-descr {
                width: 13.25vw;
                text-align: center;
                font-size: 0.71vw;
                line-height: 1.11vw;
                text-align: center;
                letter-spacing: 0.02em;
                @media (max-width: 992px) {
                    font-size: 10px;
                }
                @media (max-width: 796px) {
                    width: 18.25vw;
                }
                @media (max-width: 576px) {
                    width: 200px;
                    line-height: 15px;
                    margin-bottom: 12px;
                    font-size: 12px;
                    text-align: center;
                    width: 90%;
                    margin: 0 auto 12px;
                }
                span {
                    font-weight: 600;
                }
            }
        }
    }
    .circles {
       display: flex;
       min-height: 10px;
       margin: 0.45vw 0.81vw 0 0;
       @media (max-width: 576px) {
            align-items: center;
            justify-content: center;
        }
       .circle {
        margin-right: 7px;
        height: 0.45vw;
        width: 0.45vw;
        border: 1.5px solid #12C868;
        border-radius: 500px;
        .second {
            border: 1.5px solid rgba(18, 200, 104, 0.75);
        }
        .third {
            border: 1.5px solid rgba(18, 200, 104, 0.5);
        }
        .fourth {
            border: 1.5px solid rgba(18, 200, 104, 0.25); 
        }
       }
    }
}