$text: #1C1C1C;
$primary: #12C868;
$secondary: #F38120;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: $text;
    &:before, &:after {
        box-sizing: border-box;
    }
}

.container{
    max-width: 82.73vw;
    margin: 0 auto;
    padding: 0 0.76vw;
}

@import 'header.scss';
@import 'main.scss';
@import 'popup.scss';